.calendar{
    width: 350px;
    border: solid 1px black;
    margin: 0 auto;
}



h1{
    text-align: center;
}

.edge-day{
    color:red;
}

#days-row, .week-row-1, .week-row-2, .week-row-3, .week-row-4,
.week-row-5{
    display: flex;
}

#days-row div, .edge-day, .day-contain{
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
}

#month{
    text-align: center;
    font-size: 25px;
    font-weight: 50px;
    height: 40px;
}